./PDB 
./OUT
.RData
PDB/
SmallTest/
ftp.wwpdb.org/
nohup.out
.Rhistory
OUT/
PDBcrossRef_Uniq
data/TestInput/testModeIntput
model.out
src/DataGatherScript/README_PDBtoUniprot
src/DataGatherScript/pdblist
src/DataGatherScript/test
src/DataGatherScript/testformat
src/DataGatherScript/tmp
.Rdata
.Rhistory
PDB/
SmallTest/
ftp.wwpdb.org/
nohup.out
docker_routine.sh
OutputFolder/pprun.log
img/

